@viewport {
	width: device-width ;
	zoom: 1.0 ;
  }
*{
	box-sizing: border-box;
}
img{
	padding-top: 1em;
	margin: 0 auto ;
	height: 50%;
	width: 50%;
	display: block;
	border-radius: 100%;
	filter: sepia(100%);
	filter: contrast(90%);
}
label{
	padding: 2%;
	margin: 0%;
}
body{
	background-color:#0d1117;
	color:#ffefd9;
	display:flex;
	justify-content: center;
	font-family:courier;
	font-size:20;
	padding:2px;
	width: auto;
}
h2{
	letter-spacing: 0.15em;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0;
}
p{
	text-align: center;
}
a{
	text-align: center;
	display: block;
	font-size:1em;
	color:#ffefd9;
	text-decoration:bold;
}
.divider{
	border-bottom: 3px solid #ffefd9;
	margin:2px 0;
	height: 5px;
}
.large-text{
	font-size: 1.35em;
}
.push{
	margin-top: 1em;
}
