@viewport {
	width: device-width ;
	zoom: 1.0 ;
  }
img{
	padding-top: 1em;
	margin: 0 auto ;
	display: flex;
	width: 20%;
	border-radius: 50%;
	filter: sepia(80%);

}
label{
	padding: 5%;
	margin: 0%;
}
body{
	text-align: center;
	background-color:#0d1117;
	color:#ffefd9;
	font-family:"Montserrat",sans-serif, 'Courier New', Courier, monospace;
	font-size:20;
	margin:0 auto;
	width: 50%;
}
h2{
	letter-spacing: 0.15em;
	margin-top: 1em;
	margin-bottom: 0;
}
a{
	font-size:1.25em;
	color:#ffefd9;
	text-decoration:bold;
	letter-spacing: 0.15em;
	margin: 1.25em;
}
a:visited{
	text-decoration: none;
}
.divider{
	border-bottom: 2px solid #ffefd9;
	margin:10px auto;
	width: 40%;
	opacity: 55%;

}
.push{
	margin-top: 1.25em;
}
/*Font Sizes*/
.large-text{
	font-size: 1.35em;
}
.bold{
	font-weight: 500;
}
.small{
	font-size: 0.85em;
	font-weight: 100;
}