@media (prefers-reduced-motion: no-preference){
	*{
		scroll-behavior: smooth;
	}
}
@viewport {
	width: device-width ;
	zoom: 1.0 ;
  }
header{
	background-color: #06070f;
	width: 100%;
	padding: 15px;
	position: fixed;
	top: 0;
	z-index: 1;
}
nav > ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none; /* Removes bullet points */
    margin: 0;
    padding: 0;
}
#tungo{
	z-index: 2;
	margin: 0 auto ;
	margin-top: 5%;
	display: flex;
	width: 12em;
	height: 12em;
	border-radius: 50%;
	filter: sepia(80%);
}
#intro{
	width: 80%;
	max-width: 750px;
	margin: 10px auto;
	padding-top: 5px;
}
body{
	text-align: center;
	background-color:#0d101d;
	color:#ffefd9;
	font-family:"Montserrat",sans-serif, 'Courier New', Courier, monospace;
	font-size: 1em;;
	margin:0 auto;
}
h2:not(#voicemail){
	letter-spacing: 0.15em;
	margin:10px auto;
	width: 20%;
	border-bottom: 1px solid rgba(255,239,217, 0.5);
}
a{
	font-size:1.25em;
	color:#ffefd9;
	text-decoration:none;
	letter-spacing: 0.15em;
	margin: 1.25em;
}
a:visited{
	text-decoration: none;
}
.push{
	margin-top: 1.25em;
}
/*Font Sizes*/
.large-text{
	font-size: 1.35em;
}
.bold{
	font-weight: 500;
}
.small{
	font-size: 0.85em;
	font-weight: 100;
}
.audio{
	width: 50%;
	max-width: 400px;
	max-height: 150px;
	margin:10px auto;
}
audio{
	width: 50%;
}
.colorblock{
	background-color: #2b4675;
	padding-bottom: 2em;
	padding-right: 2em;
	padding-left: 2em;
	border-radius: 25px;
	border: 5px solid;
	box-shadow: 10px 15px 15px #06070f;
}
figcaption{
	margin-top: 1em;
}